<div class="app-container">
  <!-- header  -->
  <div class="app-container-header">
    <mat-toolbar color="primary">
      <div class="app-container-header-text">
        <span>Angular Undo/Redo Service </span>
      </div>
    </mat-toolbar>
  </div>

  <!-- body  -->
  <div class="app-container-body">
    <button mat-raised-button color="primary">Add</button>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Action Input</mat-label>
      <input
        matInput
        placeholder="Enter value and add"
        [(ngModel)]="actionInputValue"
      />
    </mat-form-field>

    <button mat-raised-button color="warn">Clear</button>
  </div>
</div>
