<div class="app-container">
  <!-- header  -->
  <div class="app-container-header">
    <mat-toolbar color="primary">
      <div class="app-container-header-text">
        <span>Angular Undo/Redo Service </span>
      </div>
    </mat-toolbar>
  </div>

  <!-- body  -->
  <div class="app-container-body">
    <div class="app-container-body-github">
      <button
        mat-button
        onClick="window.open('https://github.com/rawatanimesh/angular-undo-redo-service')"
      >
        View on Github
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
    <div class="app-container-body-input">
      <mat-form-field class="app-container-body-input-form" appearance="fill">
        <mat-label>Action Input</mat-label>
        <input
          matInput
          placeholder="Enter value and press enter"
          [(ngModel)]="actionInputValue"
          (keydown)="prevValue = actionInputValue"
          (keyup)="addAction()"
        />
        <mat-hint align="start">Change value of input to see action </mat-hint>
      </mat-form-field>
    </div>

    <div class="app-container-body-buttons">
      <button
        mat-stroked-button
        color="primary"
        [disabled]="!undoRedoService.showUndo"
        (click)="undoRedoService.undo()"
      >
        Undo
      </button>
      <button
        mat-stroked-button
        color="primary"
        [disabled]="!undoRedoService.showRedo"
        (click)="undoRedoService.redo()"
      >
        Redo
      </button>

      <div class="app-container-body-stacks">
        <div class="app-container-body-stacks-stackBox">
          <div class="app-container-body-stacks-stackBox-label">Undo Stack</div>
          <div class="app-container-body-stacks-stackBox-stack">
            <ng-container *ngIf="undoRedoService.dataUndoArray.length">
              <ng-container
                *ngFor="
                  let undoItem of undoRedoService.dataUndoArray
                    .slice()
                    .reverse()
                "
              >
                <div class="app-container-body-stacks-stackBox-stack-actionBox">
                  {{ undoItem.newValue }} ==> <b>{{ undoItem.oldValue }}</b>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="!undoRedoService.dataUndoArray.length">
              <div class="app-container-body-stacks-stackBox-stack-empty">
                Stack Empty
              </div>
            </ng-container>
          </div>
        </div>
        <div class="app-container-body-stacks-stackBox">
          <div class="app-container-body-stacks-stackBox-label">Redo Stack</div>
          <div class="app-container-body-stacks-stackBox-stack">
            <ng-container *ngIf="undoRedoService.dataRedoArray.length">
              <ng-container
                *ngFor="
                  let redoItem of undoRedoService.dataRedoArray
                    .slice()
                    .reverse()
                "
              >
                <div class="app-container-body-stacks-stackBox-stack-actionBox">
                  {{ redoItem.oldValue }} ==> <b>{{ redoItem.newValue }}</b>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!undoRedoService.dataRedoArray.length">
              <div class="app-container-body-stacks-stackBox-stack-empty">
                Stack Empty
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div>
        <button
          mat-raised-button
          color="warn"
          (click)="
            undoRedoService.clearAll(); showSnackBar('Undo/Redo stacks cleared')
          "
        >
          Clear Stacks
        </button>
      </div>
    </div>
  </div>
</div>
