.app-container {
  &-header {
    &-text {
      width: 100%;
      text-align: center;
    }
  }
  &-body {
    padding: 1em;
    &-github {
      display: flex;
      justify-content: end;
    }
    &-input {
      text-align: center;
      margin-bottom: 1em;
      &-form {
        width: 20.75em;
      }
    }
    &-buttons {
      text-align: center;
    }
    &-stacks {
      padding: 1em;
      display: flex;
      justify-content: space-evenly;
      &-stackBox {
        background-color: #f5f5f5;
        border: 0.063em solid #9c9c9c;
        min-width: 16em;
        &-label {
          background-color: #3f51b5;
          color: #fff;
          padding: 1em;
          font-weight: bold;
        }
        &-stack {
          display: flex;
          flex-direction: column;
          &-actionBox {
            padding: 0.5em;
            min-height: 1.2em;
            &:nth-child(1) {
              border-bottom: 0.063em solid #9c9c9c;
              // border-left: 0.063em solid #9c9c9c;
              // border-right: 0.063em solid #9c9c9c;
            }
            &:last-child {
              // border-left: 0.063em solid #9c9c9c;
              // border-right: 0.063em solid #9c9c9c;
            }
            &:not(:first-child):not(:last-child) {
              border-bottom: 0.063em solid #9c9c9c;
              // border-left: 0.063em solid #9c9c9c;
              // border-right: 0.063em solid #9c9c9c;
            }
          }
          &-empty {
            color: #f44335;
            min-height: 12em;
            padding: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
